/* Custom */
#backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
  }

.card {
    opacity: 0.9;
}
  

.ms_card:hover {
    transform: scale(1.02);
    transition: transform 0.4s ease;
}

.ms_btn_red:hover {
    color: rgb(179, 0, 0) !important;
}

.ms_btn_yellow:hover {
    color: #f2b969 !important;
}

.nav-link {
    border-bottom: 2px solid transparent !important;
    margin-bottom: -3px;

    &:hover {
        border-bottom: 2px solid white !important;
    }
}

.dropdown-item:hover {
    background-color: rgb(76, 75, 75) !important;
}

.dropdown-toggle {
    width: 250px !important;
}

header {
    z-index: 3;
    transition: top 1s;
}

header.hidden {
    top: -400px !important;
}

@media screen and (min-width: 577px) {

    header.hidden {
        top: 0 !important;
    }
}

/* Main canvas */

td {
    text-align: center;
    vertical-align: middle;
}

th {
    vertical-align: middle;
}

.ms_status {
    border-radius: 10px;
    padding: .1rem .4rem .3rem .4rem;
    color: white;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
  }

  #expandButton {
    display: none; 
}

/* Video */

.video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}