/* Custom */
#backgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    opacity: 0.2;
    z-index: -1;
  }

.card {
    opacity: 0.9;
}
  

.ms_card:hover {
    transform: scale(1.02);
    transition: transform 0.4s ease;
}

.ms_btn_red:hover {
    color: rgb(179, 0, 0) !important;
}

.ms_btn_yellow:hover {
    color: #f2b969 !important;
}

.nav-link {
    border-bottom: 2px solid transparent !important;
    margin-bottom: -3px;

    &:hover {
        border-bottom: 2px solid white !important;
    }
}

.dropdown-item:hover {
    background-color: rgb(76, 75, 75) !important;
}

.dropdown-toggle {
    width: 250px !important;
}


@media screen and (max-width: 766px) {
    #sidebarMenu {
        height: 100% !important;
    }


}

header {
    z-index: 3;
}

.ms_main {
    padding-top: 12rem;
}

.admin_main {
    padding-top: 10.5rem;
}

/* Right main */

@media screen and (min-width:992px) {

    .ms_main {
        padding-top: 4rem;
    }

    .admin_main {
        padding-top: 4rem;
    }
}

/* Main canvas */

td {
    text-align: center;
    vertical-align: middle;
}

th {
    vertical-align: middle;
}

.ms_status {
    border-radius: 10px;
    padding: .1rem .4rem .3rem .4rem;
    color: white;
}

tr td:nth-child(2),
tr th:nth-child(2),
tr td:nth-child(3),
tr th:nth-child(3) {
    display: none;
}

@media screen and (min-width:768px) {

    thead th:first-child {
        width: 35%;
    }

    tr td:nth-child(2),
    tr th:nth-child(2),
    tr td:nth-child(3),
    tr th:nth-child(3) {
        display: table-cell;
    }
}

#myTable {
    border-collapse: collapse;
    width: 100%;
  }

  #expandButton {
    display: none; 
  }